*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100vh;
}

body{
    padding-top: 30px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #1E7167;
}

.calculator{
    width: 700px;
    height: 700px;
    padding: 20px;
    border: 5px solid black;
    border-radius: 20px;
    background-color: #203B46;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.calculator *{
    width: 100%;
    height: 100%;
}

.display{
    padding: 15px 25px;
    width: 100%;
    height: 160px;
    border: none;
    border-radius: 8px;
    background-color: #FFC759;
    display: flex;
    flex-direction: column;
}

.type-space{
    font-size: 50px;
    font-weight: bold;
}

.operation-space{
    font-size: x-large
}


.buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}


.row-1, .row-2, .row-3, .row-4, .row-5{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.row-5 *{
    width: 158.75px;
    height: 100%;
}

.row-5 .digit.zero{
    flex: 2;
}

button{
    border: none;
    border-radius: 12px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
    transition-duration: 0.2s;
}

button:active{
    transform: scale(0.8);
}

button.sys{
    background-color: #D7431D;
}

button.sys:hover{
    background-color: #D7431DCC;
}

button.digit{
    background-color: #DFAC2A;
}

button.digit:hover{
    background-color: #DFAC2ACC;
}

button.op{
    background-color: #EF7A1A;
}

button.op:hover{
    background-color: #EF7A1ACC;
}

.footer{
    justify-self: stretch;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    gap: 20px;
}

.author{
    font-size: 20px;
    font-weight: bold;
    color: #13242A;
}

.github-logo img{
    width: 30px;
    height: 30px;
    transition: 0.3s ease-in-out;
}

.github-logo img:hover{
    transform: rotate(360deg) scale(1.1);
}